body {
    background-color: #E0E5EC !important;
}

* {
    font-family: Montserrat, "SF Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
    ;
}

@media screen and (min-width: 300px) and (max-width: 675px) {
    .responsive {
        width: 100% !important;
        margin-top: 15% !important;
    }

    .credit {
        height: 14rem !important;
    }

    h2.digitcode {
        font-size: 1.75rem;
    }

    .box {
        margin: .75rem !important;
    }
}

.nooutline:focus {
    outline: none;
}

.avatar {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background: linear-gradient(145deg, #dfe0e1, #ffffff);
    padding: .35rem;
    box-shadow: inset 0 3px 8px rgba(245, 245, 245, 0.338), inset 9px 9px 16px rgb(163, 177, 198, 0.6), inset -9px -9px 16px rgba(255, 255, 255, 0.5);
}

a.navbar-brand {
    color: inherit;
    font-size: 1rem !important;
    font-weight: 700;
}

.neonavicon {
    width: 2rem;
    height: 2rem;
    justify-content: center;
    border-radius: .5rem;
    line-height: 2rem;
    font-size: 1rem;
    text-align: center;
}

.neonavicon:hover {
    background: linear-gradient(145deg, #eb394a, #c6303e);
}

.neonavicon .badge {
    position: absolute;
    font-size: .75rem;
    top: .75rem;
    right: .5rem;
    padding: .25rem .4rem;
    border-radius: 50%;
    background: linear-gradient(145deg, #eb394a, #c6303e);
    color: white;
}

.neonavicon:active .badge {
    background: linear-gradient(145deg, #c6303e, #eb394a);
}

.background {
    background-color: #E0E5EC;
    border-radius: 1rem;
    border-style: none;
    height: auto;
    transition: all 300ms ease;
    box-shadow: 0 3px 8px #E0E5EC80, 4px 4px 8px #E0E5EC80, -4px -4px 8px #E0E5EC80 !important;
}

.list {
    padding-left: .5rem;
    padding-right: .5rem;
    background-image: linear-gradient(145deg, #f0f5fd, #caced4);
    border-radius: .35rem;
    box-shadow: 0 3px 8px rgba(245, 245, 245, 0.338), 4px 4px 8px rgb(163, 177, 198, 0.6), -4px -4px 8px rgba(255, 255, 255, 0.5);
    color: #878787;
}

.list:hover {
    background-image: linear-gradient(145deg, #f0f5fd, rgb(217, 221, 226));
}

.list:active {
    background-image: linear-gradient(145deg, #caced4, #f0f5fd);
}

.neotext {
    text-shadow: -6px 6px 12px rgb(0, 0, 0, .2);
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.ease {
    transition: all .3s ease;
}

.responsive {
    height: auto !important;
    width: 85%;
    margin-top: 10%;
    transition: all 300ms ease;
}

.flexed {
    height: 100%;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

::selection {
    background: #40d6a5;
}

.neo {
    /*background-color:#E0E5EC;*/
    background-image: linear-gradient(145deg, #f0f5fd, #caced4);
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(245, 245, 245, 0.338), 9px 9px 16px rgb(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
    color: #878787;
    font-size: 32px;
    line-height: 144px;
    text-decoration: none;
    text-align: center;
    position: relative;
    width: 144px;
    height: 144px;
    transition: all 300ms ease;
}

.neo:hover {
    background-image: linear-gradient(145deg, #f0f5fd, rgb(217, 221, 226));
    text-decoration: none;
    transition: all 300ms ease;
}

.neo:active {
    background-image: linear-gradient(145deg, #caced4, #f0f5fd);
    text-decoration: none;
}

.amount {
    font-weight: bold;
    padding: 0;
    justify-content: center;
}

/*.amount:hover {
    box-shadow: inset 0 .6rem 3px rgba(255, 255, 255, 0.3);
}*/

.amount:hover #inner {
    stroke: url(#GreenHover) !important;
    stroke-dashoffset: 120;
    transition: all 500ms ease;
}

.amount h3 {
    transition: all 300ms ease;
}

.amount:hover h3 {
    font-size: 2rem;
    transition: all 300ms ease;
}

.colored {
    color: #40d6a5;
    background: -webkit-linear-gradient(#40d6a5, #77e371);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

svg {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    filter: drop-shadow(0 3px 8px #22222230);
}

path {
    stroke-linecap: round;
    stroke-width: .35rem;
}

path.outer {
    stroke: url(#Gray);
    fill: none;
}

path.inner {
    stroke: url(#Green);
    fill: none;
    stroke-dasharray: calc(40 * 3.142 * 1.85);
    stroke-dashoffset: 50;
    transition: all 300ms ease;
    /* adjust last number for variance */
}

.card {
    border-style: none;
    background-color: #f0f5fd;
    border-radius: 40px;
}

.hollow {
    box-shadow: inset 0 3px 8px rgba(245, 245, 245, 0.338), inset 9px 9px 16px rgb(163, 177, 198, 0.6), inset -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.loading {
    display: -ms-flexbox;
    display: flex;
    height: 2rem;
    overflow: hidden;
    font-size: 1rem;
    border-radius: 1rem;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: inset 0 .6rem 3px rgba(255, 255, 255, 0.3), 0 3px 8px rgba(245, 245, 245, 0.338), 4px 4px 8px rgb(163, 177, 198, 0.6), -4px -4px 8px rgba(255, 255, 255, 0.5);
}

.loading-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: width 0.6s ease;
    border-radius: 1rem;
    background: linear-gradient(145deg, #77e371, #40d6a5);
    box-shadow: inset 0 .35rem 3px rgba(255, 255, 255, 0.3);
    transition: all 300ms ease;
}

.loading-bar:hover {
    box-shadow: inset 0 .6rem 3px rgba(255, 255, 255, 0.3);
    transition: all 300ms ease;
    width: 55% !important;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.neobox {
    background-color: #E0E5EC;
    box-shadow: 0 3px 8px rgba(245, 245, 245, 0.338), 4px 4px 8px rgb(163, 177, 198, 0.6), -4px -4px 8px rgba(255, 255, 255, 0.5);
    color: #878787;
    border: none;
}

.neobox:hover {
    background-image: linear-gradient(145deg, #f0f5fd, rgb(217, 221, 226));
    box-shadow: 0 3px 8px rgba(245, 245, 245, 0.338), 4px 4px 8px rgb(163, 177, 198, 0.6), -4px -4px 8px rgba(255, 255, 255, 0.5);
}

.neobox:focus {
    background-image: linear-gradient(145deg, #caced4, #f0f5fd);
    box-shadow: 0 3px 8px rgba(245, 245, 245, 0.338), 4px 4px 8px rgb(163, 177, 198, 0.6), -4px -4px 8px rgba(255, 255, 255, 0.5);
}

input.neobox {
    font-weight: lighter;
    font-style: italic;
    border-radius: 10px;
}

.neofooter {
    background: linear-gradient(145deg, #ffffff, #dfe0e1);
    box-shadow: 0 3px 8px rgba(245, 245, 245, 0.338), 9px 9px 16px rgb(163, 177, 198, 0.3), -9px -9px 16px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border-style: none;
    color: #878787;
    font-size: 24px;
    line-height: 7rem;
    text-decoration: none;
    text-align: center;
    position: relative;
    width: 7rem;
    height: 7rem;
    transition: all 300ms ease;
}

.neofooter:active {
    background: linear-gradient(145deg, #dfe0e1, #ffffff);
    text-decoration: none;
    transition: all 300ms ease;
    box-shadow: inset 0 3px 8px rgba(245, 245, 245, 0.338), inset 9px 9px 16px rgb(163, 177, 198, 0.6), inset -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.neofooteractive {
    cursor: not-allowed;
    pointer-events: none;
    background: linear-gradient(145deg, #dfe0e1, #ffffff);
    box-shadow: inset 0 3px 8px rgba(245, 245, 245, 0.338), inset 9px 9px 16px rgb(163, 177, 198, 0.6), inset -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.credit {
    height: 18rem;
    width: 30rem;
    box-shadow: 0 3px 8px rgba(245, 245, 245, 0.338), 9px 9px 16px rgb(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
    background-color: #E0E5EC !important;
}

.credit:hover {
    background-image: linear-gradient(145deg, #caced4, #f0f5fd);
}

.company {
    position: absolute;
    top: 7.5%;
    right: 2.25rem;
}

.vertical {
    width: 100%;
    position: absolute;
    left: 0%;
    top: 57%;
    transform: translate(-0%, -50%);
}

.digitcode {
    float: center;
}

.valid {
    padding-right: .5rem;
}

.expiry {
    float: center;
}

.owner {
    position: absolute;
    bottom: 5%;
}

.box {
    width: 5rem;
    height: 5rem;
    margin: auto;
    justify-content: center;
    border-radius: 1rem;
    line-height: 5rem;
    font-size: 2rem;
}

.box::after {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.show {
    transition: all .5s ease;
}